<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMark - {{ book.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_book.css') }}">
</head>

<body>
    <div id="view_book" class="container">
        <h1 class="title-border">{{ book.title }}-{{ book.author }}</h1>

        <div class="contents">
            <p><strong>感想:</strong> {{ book.impression }}</p>
            <hr>
            <p><strong>お気に入り{{ 'です' if book.favorite_flag else 'ではありません' }}</strong> </p>
            <p><strong>読んだ時間:</strong> {{ book.reading_time_minutes }} 分</p>
            <p><strong>読了状況:</strong> {{ book.reading_status }}</p>
            <a class="small">作成日: {{ book.created_at.strftime('%Y年 %m月 %d日 %H:%M') }}</a>
            <a class="small">更新日: {{ book.updated_at.strftime('%Y年 %m月 %d日 %H:%M') }}</a>
        </div>
        <div class="button-container">
            <!-- 更新ボタン -->
            <a href="{{ url_for('show_edit_book', book_id=book.id) }}" class="edit button">本を更新する</a>
            <!-- 削除ボタン -->
            <form method="POST" action="{{ url_for('delete_book', book_id=book.id) }}">
                <button type="submit" class="delete button">本を削除</button>
            </form>

            <a href="{{ url_for('index') }}" class="index button">本一覧に戻る</a>
        </div>
    </div>
</body>

</html>
