<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookMark - {{ book.title }}を編集</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_book.css') }}">
</head>

<body>
  <div id="edit_book" class="container">
    <h1 class="title-border">{{ book.title }}を編集</h1>
    <form action="{{ url_for('edit_book', book_id=book.id) }}" method="POST" class="modern-form">
      <label for="title">本のタイトル</label>
      <input type="text" name="title" id="title" value="{{ book.title }}" required>

      <label for="author">著者</label>
      <input type="text" name="author" id="author" value="{{ book.author }}" required>

      <label for="impression">感想</label>
      <textarea name="impression" id="impression" required>{{ book.impression }}</textarea>

      <label for="favorite_flag">お気に入り</label>
      <input type="checkbox" name="favorite_flag" id="favorite_flag" {% if book.favorite_flag %}checked{% endif %}>

      <label for="reading_time_minutes">読書時間 (分)</label>
      <input type="number" name="reading_time_minutes" id="reading_time_minutes" value="{{ book.reading_time_minutes }}"
        step="5" required>

      <label for="reading_status">読了状況</label>
      <select name="reading_status" id="reading_status" required>
        <option value="未読" {% if book.reading_status=='未読' %}selected{% endif %}>未読</option>
        <option value="読んでいる途中" {% if book.reading_status=='読んでいる途中' %}selected{% endif %}>読書中</option>
        <option value="読了" {% if book.reading_status=='読了' %}selected{% endif %}>読了</option>
      </select>

      <button type="submit" class="button" id="back">更新する</button>
    </form>

    <a href="{{ url_for('index') }}" class="back button">本一覧に戻る</a>
  </div>
</body>

</html>
